name: Update Summary

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/upptime@master
        with:
          command: "summary"
